<div class="w-70 mx-auto px-6 mt-16">
  <!-- HEADER -->
  <div class="flex flex-wrap justify-between items-center mb-6">
    <h2 class="text-lg font-semibold">
      {{ category.name }}
    </h2>

    <div class="flex items-center gap-6 text-sm text-gray-500">
      <span class="text-green-500 cursor-pointer">All</span>
      <span class="cursor-pointer hover:text-black">Smart watch</span>
      <span class="cursor-pointer hover:text-black">Laptop</span>
      <span class="cursor-pointer hover:text-black">Tablet</span>
      <span class="cursor-pointer hover:text-black">Desktop</span>
      <span class="cursor-pointer hover:text-black">Accessories</span>
    </div>
  </div>

  <!-- PRODUCT GRID -->
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
    @for (item of products.slice(0, 6); track item.id) {
      <div class="rounded-lg p-4 transition relative group bg-white">
        @if (item.badge) {
          <span
            class="absolute top-3 left-3 text-xs px-2 py-1 rounded text-white z-20"
            [ngClass]="{
              'bg-green-500': item.badge === 'new',
              'bg-orange-500': item.badge === 'sale',
              'bg-yellow-400 text-black': item.badge === 'hot',
            }"
          >
            {{ item.badge | titlecase }}
          </span>
        }

        <!-- IMAGE WRAPPER -->
        <div
          class="relative aspect-square bg-gray-100 rounded mb-3 flex items-center justify-center overflow-hidden"
        >
          <img
            [src]="item.image"
            class="max-h-28 object-contain transition duration-300 group-hover:scale-105"
          />

          <!-- HOVER OVERLAY -->
          <div
            class="absolute inset-0 bg-white/80 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition duration-300"
          >
            <!-- ICONS -->
            <div class="flex gap-4 mb-4">
              <button class="bg-black text-green-400 p-3 rounded-lg">
                <mat-icon>favorite_border</mat-icon>
              </button>

              <button class="bg-black text-green-400 p-3 rounded-lg">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>

            <!-- ADD TO CART -->
            <button
              (click)="addToCart(item)"
              class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-lg text-sm font-medium transition"
            >
              Add To Cart
            </button>
          </div>
        </div>

        <!-- PRODUCT INFO -->
        <p class="text-sm font-medium mb-1 line-clamp-2">
          {{ item.title }}
        </p>

        <div class="text-sm font-semibold">${{ item.price }}</div>

        @if (item.oldPrice) {
          <div class="text-xs text-gray-400 line-through">${{ item.oldPrice }}</div>
        }
      </div>
    }
  </div>
</div>
